@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f9f7f8;
  font-family: "Noto Sans", sans-serif;
}

.contenedor-logo {
  height: 8vh;
}

.contenedor-logo img {
  height: 100%;
}

.nav-flex {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.fondo-nav {
  background-color: #af762f;
  color: #f9f7f8;
}

.nav-flex li a {
  color: #f9f7f8;
}

.fondo {
  background-image: url(../assets/productos/logos/fondo.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
}

.titulos {
  text-align: center;
}

.titulos h1, h2 {
  font-weight: 900;
}

.grosor {
  font-weight: 600;
}

.caruosel-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 16vh;
  font-size: 1.5em;
  background-image: url(../assets/productos/cafe.jpg);
}

.caruosel-img2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 16vh;
  font-size: 1.5em;
  background-image: url(../assets/productos/pasteleria.jpg);
}

.caruosel-img3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 16vh;
  font-size: 1.5em;
  background-image: url(../assets/productos/Pan.jpg);
}

.titulo-producto {
  font-weight: 800;
}

.fondo-titulo {
  background-color: rgba(0, 0, 0, 0.486);
}

.producto-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 25vh;
  background-image: url(../assets/productos/cupcake.jpg);
}

.producto-img2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 25vh;
  background-image: url(../assets/productos/Pastel.jpg);
}

.producto-img3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 25vh;
  background-image: url(../assets/productos/Galletas.jpg);
}

.producto-img4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 25vh;
  background-image: url(../assets/productos/Pan.jpg);
}

.producto-img5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 25vh;
  background-image: url(../assets/productos/Facturas.jpg);
}

.producto-img6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 25vh;
  background-image: url(../assets/productos/pizza.jpg);
}

.producto-img7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 25vh;
  background-image: url(../assets/productos/sandwich-de-miga.jpg);
}

.producto-img8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 25vh;
  background-image: url(../assets/productos/Receta-de-chipa-paraguaya.jpg);
}

.producto-img9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 25vh;
  background-image: url(../assets/productos/desayuno.jpg);
}

.nosotros-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/Nosotros.jpg);
  background-size: cover;
  background-position: center;
  height: 40vh;
  background-image: url(../assets/productos/logos/Nosotros.jpg);
}

.nosotros-tex3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/Nosotros.jpg);
  background-size: cover;
  background-position: center;
  height: 40vh;
  background-image: url(../assets/productos/logos/PANADERA.jpg);
}

.nosotros-tex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-contacto {
  height: 70vh;
}

@media (min-width: 768px) {
  .contenedor-logo {
    height: 12vh;
  }
  .caruosel-img {
    height: 24vh;
  }
  .caruosel-img2 {
    height: 24vh;
  }
  .caruosel-img3 {
    height: 24vh;
  }
  .main-contacto {
    height: 70vh;
  }
}
.footer {
  background-color: #af762f;
}
.footer .footer__flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

/*# sourceMappingURL=estilos.css.map */
