@media (min-width: 768px){
    .contenedor-logo{
        height: 12vh;
    }
    .caruosel-img{
        height: 24vh;
    }
    .caruosel-img2{
        height: 24vh;
    }
    .caruosel-img3{
        height: 24vh;
    }
}